@using DriveIT.Web.Models
@model IEnumerable<DriveIT.Models.EmployeeDto>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Gravatar(item.Email, 120)
        </td>
        <td>
            <div class="list-group">
                <strong>@item.FirstName @item.LastName</strong>
                <p>@item.JobTitle</p>
                <p>Phone: @item.Phone</p>
                <p>@Html.ActionLink("Details", "Details", new {email = item.Id})</p>

            </div>
        </td>
    </tr>
}

</table>
