@model Tuple<IEnumerable<DriveIT.Models.CarDto>, IEnumerable<DriveIT.Models.ContactRequestDto>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            <strong>Date</strong>
        </th>
        <th>
            <strong>Make</strong>
        </th>
        <th>
            <strong>Model</strong>
        </th>
        <th>
            <strong>Responsible Employee</strong>
        </th>
        <th></th>
    </tr>

@foreach (var item2 in Model.Item2) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item2.Requested)
        </td>
        <td>
            @foreach (var item1 in Model.Item1)
            {
                if (item1.Id == item2.CarId)
                {
                    @Html.DisplayFor(modelItem => item1.Make)
                }
            }
        </td>
        <td>
            @foreach (var item1 in Model.Item1)
            {
                if (item1.Id == item2.CarId)
                {
                    @Html.DisplayFor(modelItem => item1.Model)
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item2.EmployeeId)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item2.Id })
        </td>
    </tr>
}

</table>
