@model DriveIT.Models.CarDto

@{
    ViewBag.Title = "Car Details";
}

<h2>Car Details</h2>
<p>In this window, car information of the choosen car, from the previous page, will be shown.</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceDriven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceDriven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoughtTo100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoughtTo100)
        </dd>

           

    </dl>
    <p>Images:</p>
    @foreach (var path in Model.ImagePaths)
    {
        <img src=@path alt="Image of car"/><br/>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
    <br/>
    <br/>
    <a href=@Url.Action("Index", "Comment", new {carId = Model.Id, customerId = 1})>Comments for this car</a>
</p>

@{
    
}