@model DriveIT.Web.Models.CarCommentViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link href="../../Content/cosmo-boostrap.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 5000
        })
    });
</script>


@{
    ViewBag.Title = "Car Details";
}

<h2>Car Details</h2>
<p>In this window, car information of the choosen car, from the previous page, will be shown.</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.DistanceDriven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.DistanceDriven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Fuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Fuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Drive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Drive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Transmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Transmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.TopSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.TopSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.NoughtTo100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.NoughtTo100)
        </dd>

    </dl>
    <p>Images:</p>

    @if (Model.Car.ImagePaths.Count == 0)
    {
        <div id="myCarousel" class="carousel" style="width:900px;height:900px;position:fixed;top:200px;right:-50px">
            <div class="carousel-inner">
                
                <div class="item">
                    <img src="http://i.stack.imgur.com/QE8X8.png" onclick="" height="300" width="300"/>
                </div>
                
                <div class="item">
                    <img src="http://i.stack.imgur.com/QE8X7.png" onclick="" height="300" width="300" />
                </div>
                
            </div>
            
            <div id="myCarouselControll" class="carousel" style="width:200px;">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    }
    else
    {
       <p>No images to show.</p>
    }

</div>



@{
    Html.RenderPartial("~/Views/Comment/Index.cshtml", Model);
}
