@model DriveIT.Web.Models.CarCommentViewModel

@{
    ViewBag.Title = "Car Details";
}

<h2>Car Details</h2>
<p>In this window, car information of the choosen car, from the previous page, will be shown.</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.DistanceDriven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.DistanceDriven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Fuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Fuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Drive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Drive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Transmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Transmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.TopSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.TopSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.NoughtTo100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.NoughtTo100)
        </dd>

    </dl>
    <p>Images:</p>
    @foreach (var path in Model.Car.ImagePaths)
    {
        <img src=@path alt="Image of car"/><br/>
    }
</div>

@{
    Html.RenderPartial("~/Views/Comment/Index.cshtml", Model);
}
