@model IEnumerable<DriveIT.Models.CarDto>

@{
    ViewBag.Title = "Car Search";
}

<br/>

<h1>Car Search</h1>
<p>In this window, you are able to search for cars, by giving, as input, the three following criteria: FuelType, Make and Model.</p>

@using (Html.BeginForm("Index", "Car", FormMethod.Get))
{
    <p>
        FuelType: @Html.DropDownList("fuelType", "---")
        Make: @Html.DropDownList("make", "---")
        Model: @Html.DropDownList("model", "---")
        <input type="submit" value="Search"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sold)
        </th>
        <th>
            Image
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @if (item.Sold)
                {
                    <strong style="color: red">SOLD</strong>

                }
                else
                {
                    <strong style="color: green">FOR SALE</strong>
                }
            </td>
            <td>
                @if (item.ImagePaths.Count != 0)
                {
                    <img src=@item.ImagePaths.First() height="200" width="200"/>
                }
                else
                {
                    <p>No image for this car.</p>
                }
            </td>

            <td>
                @Html.ActionLink("Details", "Details", "Car", new { carId = item.Id }, null)
            </td>
        </tr>
    }
</table>