@using System.Linq
@model System.Collections.Generic.IEnumerable<DriveIT.Models.CarDto>

@{
    ViewBag.Title = "Car Search";
}

<br/>

<h1>Car Search</h1>
<p>In this window, you are able to search for cars, by giving, as input, the three following criteria: FuelType, Make and Model.</p>

@*
    BeginForm is a HtmlHelper. It writes an opening <form> tag, which (in this case) uses the GET method, and the request is processed by
    the action method in the controller, for the view.
    
    By the GET method, the BeginForm receives data through the ViewBag property ("fuelType", "make", "model") and displays it in a dropdownlist.
    "---" is made for an empty input in the dropdownlist.
*@
@using (Html.BeginForm("Index", "Car", FormMethod.Get))
{
    <p>
        FuelType: @Html.DropDownList("fuelType", "---")
        Make: @Html.DropDownList("make", "---")
        Model: @Html.DropDownList("model", "---")
        <input type="submit" value="Search"/>
    </p>
}

@*Table containing information about the car.*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sold)
        </th>
        <th>
            Image
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @if (item.Sold)
                {
                    <strong style="color: red">SOLD</strong>

                }
                else
                {
                    <strong style="color: green">FOR SALE</strong>
                }
            </td>
            <td>
                @if (item.ImagePaths.Count != 0)
                {
                    <div class="item" style="width:250px;height:200px">
                        <img src=@item.ImagePaths.First() width="250" height="200" />
                    </div>
                }
                else
                {
                    <p>No image for this car.</p>
                }
            </td>

            <td>
                @Html.ActionLink("Details", "Details", "Car", new { carId = item.Id }, null)
            </td>
        </tr>
    }
</table>