@model DriveIT.Models.CustomerDto

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div>
    <h4>CustomerDto</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    <b>First name:</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    <b>Last name:</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    <b>Phone: </b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    <b>Email: </b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>
        </div>
        <div class="col-md-6">
            @Html.Gravatar(Model.Email, 150)
        </div>
    </div>  
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { email = Model.Id }) |
    @Html.ActionLink("Back to profile", "Index", "Manage")
</p>
