@using DriveIT.Web.MvcControllers
@using Microsoft.AspNet.Identity
@model DriveIT.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>
<h3>@Html.ActionLink("My Profile", "Show", "Customer", new { id = User.Identity.GetUserId() }, null)</h3>


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Profile information:</dt>
        <dd>
            [
            @Html.ActionLink("Edit account information", "Edit", "Customer", new { id = User.Identity.GetUserId() }, null)
            ]
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        
    </dl>
</div>
