@model IEnumerable<DriveIT.Models.CarDto>

@{
    ViewBag.Title = "DriveIT";
}

<br />
<img src="~/Content/Image/about.jpg" width="100%" />
<br /><br />

Welcome to the <b>DriveIT</b> website selling used cars from our own used car lot. <br/>
If you're a new customer you can register @Html.ActionLink("here", "Register", "Account") . <br/> 
If you're already a user of the system, you can login @Html.ActionLink("here", "Login", "Account") .


<br /><br/>
<h2>Newest Cars For Sale</h2>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(car => car.Created))
    {
        <tr>
            <td>
                @if (item.Sold == true)
                {
                    <strong style="color: red">SOLD</strong>

                }
                else
                {
                    <strong style="color: green">FOR SALE</strong>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Car", new { carId = item.Id }, null)
            </td>
        </tr>
    }

</table>
